BIM_mvc_06/packages/Microsoft.TypeScript.Compiler.2.4.1/
BIM_mvc_06/BIM_mvc_06/bin/BIM_mvc_06.dll
BIM_mvc_06/BIM_mvc_06/bin/BIM_mvc_06.dll.config
BIM_mvc_06/BIM_mvc_06/bin/BIM_mvc_06.pdb
BIM_mvc_06/BIM_mvc_06/obj/Debug/BIM_mvc_06.csproj.FileListAbsolute.txt
BIM_mvc_06/BIM_mvc_06/obj/Debug/BIM_mvc_06.csprojResolveAssemblyReference.cache
BIM_mvc_06/BIM_mvc_06/obj/Debug/BIM_mvc_06.dll
BIM_mvc_06/BIM_mvc_06/obj/Debug/BIM_mvc_06.pdb
BIM_mvc_06/BIM_mvc_06/obj/Debug/CoreCompileInputs.cache
BIM_mvc_06/BIM_mvc_06/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
BIM_mvc_06/BIM_mvc_06/obj/Debug/TypeScriptCompilerOutput.txt

*Debug*
*bin*
