
@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
 <img src="~/Views/Shared/BIM.png" alt="BIM"> <h3 style="text-align:center;">Building Infracture Management</h3>

    <h1>Building Infracture Management</h1>
</div>

<div class="row">
    
      
        <!-- Angular2 Code -->
        <my-app>Loading...
        
        </my-app>
        <!-- Angular2 Code -->
    
</div>