
@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>Angular 2 QuickStart</h1>
</div>

<div ng-app>
    10 + 20 = {{ 10 + 20 }}
    <h1> </h1>
</div>
<div class="row">
    <div class="col-md-4">
      
        <!-- Angular2 Code -->
        <my-app>Loading...
        
        </my-app>
        <!-- Angular2 Code -->
    </div>
</div>