
@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>Building Infracture Management</h1>
</div>

<div class="row">
    <div class="col-md-4">
      
        <!-- Angular2 Code -->
        <my-app>Loading...
        
        </my-app>
        <!-- Angular2 Code -->
    </div>
</div>