
@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
 <img src="~/Views/Shared/BIM.png" alt="BIM"> <h3 style="text-align:center;">Building Infracture Management</h3>

    <h1>Building Infracture Management</h1>
</div>

<div class="row">
  
    <video id="qrcode"></video>
    <canvas id="canvas"></canvas><br>
    <button onclick="snap();">Snap</button>
    <script type="text/javascript">
			var video = document.getElementById('qrcode');
			var canvas = document.getElementById('canvas');
			var context = canvas.getContext('2d');

			navigator.getUserMedia = navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.oGetUserMedia || navigator.msGetUserMedia;

			if(navigator.getUserMedia){
				navigator.getUserMedia({video:true}, streamWebCam, throwError);
			}

			function streamWebCam (stream) {
                video.src = window.URL.createObjectURL(stream);
                console.log(stream);
				video.play();
			}

			function throwError (e) {
				alert(e.name);
			}

			function snap () {
				canvas.width = video.clientWidth;
				canvas.height = video.clientHeight;
                context.drawImage(video, 0, 0);
                console.log(video);
                console.log(video.dataset);
			}
    </script>
      
        <!-- Angular2 Code -->
        <my-app>Loading...
        
        </my-app>
        <!-- Angular2 Code -->
    
</div>